[submodule "src/joystick_drivers"]
	path = src/dependencies/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
[submodule "src/dependencies/turtlebot"]
	path = src/dependencies/turtlebot
	url = https://github.com/turtlebot/turtlebot.git
