[submodule "src/joystick_drivers"]
	path = src/dependencies/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
[submodule "src/dependencies/geometry2"]
	path = src/dependencies/geometry2
	url = https://github.com/ros/geometry2.git
[submodule "src/dependencies/common_msgs"]
	path = src/dependencies/common_msgs
	url = https://github.com/ros/common_msgs.git
[submodule "src/dependencies/depthimage_to_laserscan"]
	path = src/dependencies/depthimage_to_laserscan
	url = https://github.com/ros-perception/depthimage_to_laserscan.git
[submodule "src/dependencies/navigation"]
	path = src/dependencies/navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "src/dependencies/navigation_msgs"]
	path = src/dependencies/navigation_msgs
	url = https://github.com/ros-planning/navigation_msgs.git
[submodule "src/dependencies/kobuki"]
	path = src/dependencies/kobuki/kobuki
	url = https://github.com/yujinrobot/kobuki.git
[submodule "src/dependencies/ecl_core"]
	path = src/dependencies/ecl/ecl_core
	url = https://github.com/stonier/ecl_core.git
[submodule "src/dependencies/ecl_lite"]
	path = src/dependencies/ecl/ecl_lite
	url = https://github.com/stonier/ecl_lite.git
[submodule "src/dependencies/ecl_tools"]
	path = src/dependencies/ecl/ecl_tools
	url = https://github.com/stonier/ecl_tools.git
[submodule "src/dependencies/ecl/sophus"]
	path = misc/ecl/sophus
	url = https://github.com/stonier/sophus.git
[submodule "src/dependencies/kobuki_msgs"]
	path = src/dependencies/kobuki/kobuki_msgs
	url = https://github.com/yujinrobot/kobuki_msgs.git
[submodule "misc/yujin_ocs"]
	path = misc/yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
[submodule "src/dependencies/kobuki_core"]
	path = src/dependencies/kobuki/kobuki_core
	url = https://github.com/yujinrobot/kobuki_core.git
[submodule "src/dependencies/ecl_navigation"]
	path = src/dependencies/ecl/ecl_navigation
	url = https://github.com/stonier/ecl_navigation.git
[submodule "src/dependencies/turtlebot_simulator"]
	path = src/dependencies/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator.git
[submodule "src/dependencies/yocs/yocs_msgs"]
	path = src/dependencies/yocs/yocs_msgs
	url = https://github.com/yujinrobot/yocs_msgs.git
[submodule "misc/kobuki_desktop"]
	path = src/dependencies/kobuki/kobuki_desktop
	url = https://github.com/yujinrobot/kobuki_desktop.git
[submodule "src/dependencies/turtlebot_apps"]
	path = src/dependencies/turtlebot_apps
	url = https://github.com/turtlebot/turtlebot_apps.git
[submodule "src/dependencies/turtlebot_msgs"]
	path = src/dependencies/turtlebot_msgs
	url = https://github.com/turtlebot/turtlebot_msgs.git
[submodule "src/dependencies/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "src/dependencies/turtlebot_interactions"]
	path = src/dependencies/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions.git
[submodule "src/dependencies/openni_camera"]
	path = src/dependencies/camera/kinect/openni_camera
	url = https://github.com/ros-drivers/openni_camera.git
[submodule "src/dependencies/kinect/rgbd_launch"]
	path = src/dependencies/camera/kinect/rgbd_launch
	url = https://github.com/ros-drivers/rgbd_launch.git
[submodule "src/dependencies/kinect/freenect_stack"]
	path = src/dependencies/camera/kinect/freenect_stack
	url = https://github.com/ros-drivers/freenect_stack.git
[submodule "src/dependencies/xiton/openni2_camera"]
	path = src/dependencies/camera/xiton/openni2_camera
	url = https://github.com/ros-drivers/openni2_camera.git
[submodule "src/dependencies/linux_peripheral_interfaces"]
	path = src/dependencies/linux_peripheral_interfaces
	url = https://github.com/ros-drivers/linux_peripheral_interfaces.git
[submodule "src/dependencies/camera/usb_cam"]
	path = src/dependencies/camera/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "src/dependencies/camera/gscam"]
	path = src/dependencies/camera/gscam
	url = https://github.com/ros-drivers/gscam.git
[submodule "src/dependencies/lidar/urg_node"]
	path = src/dependencies/lidar/urg_node
	url = https://github.com/ros-drivers/urg_node.git
[submodule "src/dependencies/lidar/laser_proc"]
	path = src/dependencies/lidar/laser_proc
	url = https://github.com/ros-perception/laser_proc.git
[submodule "src/dependencies/lidar/urg_c"]
	path = src/dependencies/lidar/urg_c
	url = https://github.com/ros-drivers/urg_c.git
[submodule "src/dependencies/lidar/rplidar_ros"]
	path = src/dependencies/lidar/rplidar_ros
	url = https://github.com/robopeak/rplidar_ros.git
